In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('/kaggle/input/alunos-base4/alunos_base_4.csv')
df

              nome          telefone    matricula
0     Rodrigo Dias  (41) 91234-5678   2023-01-001
1  Vanessa Ribeiro      41 9234-5678   202301002
2     camila souza       41912345678  2023.01.003
3       JOAO CUNHA    (41)91234 5678  2023_01_004

In [3]:
df["nome"] = df["nome"].str.title().str.strip()
df

              nome          telefone    matricula
0     Rodrigo Dias  (41) 91234-5678   2023-01-001
1  Vanessa Ribeiro      41 9234-5678   202301002
2     Camila Souza       41912345678  2023.01.003
3       Joao Cunha    (41)91234 5678  2023_01_004

In [4]:
df["nome"] =df["nome"].str.replace('Joao','João', case=False)
df

              nome          telefone    matricula
0     Rodrigo Dias  (41) 91234-5678   2023-01-001
1  Vanessa Ribeiro      41 9234-5678   202301002
2     Camila Souza       41912345678  2023.01.003
3       João Cunha    (41)91234 5678  2023_01_004

In [5]:
df["telefone"] = df["telefone"].str.strip()
df

              nome         telefone    matricula
0     Rodrigo Dias  (41) 91234-5678  2023-01-001
1  Vanessa Ribeiro     41 9234-5678   202301002
2     Camila Souza      41912345678  2023.01.003
3       João Cunha   (41)91234 5678  2023_01_004

In [6]:
def arrumarnumero(x):
    x = re.sub(r'\D', '', x)
    if len(x) ==11:
        return f'({x[:2]}) {x[2]} {x[3:7]}-{x[7:]}' 
    else:
        return f'({x[:2]}) {x[2:6]}-{x[6:]}'

df ["telefone"]= df["telefone"].apply(arrumarnumero)
df

              nome          telefone    matricula
0     Rodrigo Dias  (41) 9 1234-5678  2023-01-001
1  Vanessa Ribeiro    (41) 9234-5678   202301002
2     Camila Souza  (41) 9 1234-5678  2023.01.003
3       João Cunha  (41) 9 1234-5678  2023_01_004

In [7]:
def arrumarmatricula(x):
    x = re.sub(r'\D', '', x)
    return f'{x[:4]}/{x[5:6]}/{x[7:9]}' 

df ["matricula"]= df["matricula"].apply(arrumarmatricula)
df

              nome          telefone  matricula
0     Rodrigo Dias  (41) 9 1234-5678  2023/1/01
1  Vanessa Ribeiro    (41) 9234-5678  2023/1/02
2     Camila Souza  (41) 9 1234-5678  2023/1/03
3       João Cunha  (41) 9 1234-5678  2023/1/04

In [8]:
df["matricula"] = pd.to_datetime(df["matricula"], errors="coerce")
df ["matricula"] = df["matricula"].dt.strftime('%d/%m/%y')     
df

              nome          telefone matricula
0     Rodrigo Dias  (41) 9 1234-5678  01/01/23
1  Vanessa Ribeiro    (41) 9234-5678  02/01/23
2     Camila Souza  (41) 9 1234-5678  03/01/23
3       João Cunha  (41) 9 1234-5678  04/01/23