In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/alunos-base1/alunos_base_1.csv')

In [3]:
df

              nome                        email
0       ana silva         ANA.SILVA@EXEMPLO.COM
1       jo達o Souza      joao.souza@exemplo.com
2   MARIA oliveira   maria.oliveira@exemplo.com
3  Carlos pereira    CARLOS.PEREIRA@EXEMPLO.com

Nomes em CamelCase

In [4]:
df["nome"] = df["nome"].str.title()

In [5]:
df

              nome                        email
0       Ana Silva         ANA.SILVA@EXEMPLO.COM
1       Jo達o Souza      joao.souza@exemplo.com
2   Maria Oliveira   maria.oliveira@exemplo.com
3  Carlos Pereira    CARLOS.PEREIRA@EXEMPLO.com

Email em minusculo

In [6]:
df["email"] = df["email"].str.lower()

In [7]:
df

              nome                        email
0       Ana Silva         ana.silva@exemplo.com
1       Jo達o Souza      joao.souza@exemplo.com
2   Maria Oliveira   maria.oliveira@exemplo.com
3  Carlos Pereira    carlos.pereira@exemplo.com

Verificar espa巽os vazios

In [8]:
df["VerificarTamanho"] = df['nome'].str.len()

In [9]:
df

              nome                        email  VerificarTamanho
0       Ana Silva         ana.silva@exemplo.com                12
1       Jo達o Souza      joao.souza@exemplo.com                 10
2   Maria Oliveira   maria.oliveira@exemplo.com                15
3  Carlos Pereira    carlos.pereira@exemplo.com                15

Tirando espa巽os se tiver

In [10]:
df["nome"] = df ["nome"].str.strip()

In [11]:
df["VerificarTamanho"] = df['nome'].str.len()
df

             nome                        email  VerificarTamanho
0       Ana Silva        ana.silva@exemplo.com                 9
1      Jo達o Souza      joao.souza@exemplo.com                 10
2  Maria Oliveira   maria.oliveira@exemplo.com                14
3  Carlos Pereira   carlos.pereira@exemplo.com                14

Como todos os @ s達o iguais, irei relir叩-los

In [12]:
df["email"] = df["email"].str.replace("@exemplo.com","", case=False)
df

             nome            email  VerificarTamanho
0       Ana Silva        ana.silva                 9
1      Jo達o Souza      joao.souza                 10
2  Maria Oliveira   maria.oliveira                14
3  Carlos Pereira   carlos.pereira                14

Dropando coluna que verifica o tamanho, sem necessidade de t棚-la

In [13]:
df = df.drop('VerificarTamanho', axis=1)
df

             nome            email
0       Ana Silva        ana.silva
1      Jo達o Souza      joao.souza
2  Maria Oliveira   maria.oliveira
3  Carlos Pereira   carlos.pereira