In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('/kaggle/input/alunosbase5/alunos_base_5.csv')
df

                                            cadastro
0  Nome: Lucas Martins | Email: lucas.m@exemplo.c...
1  Curso: Design Gráfico | Nome: Bruna S. Lopes |...
2  Email: joao.oliveira@exemplo.com | Nome: João ...
3  Engenharia Elétrica - carolina.almeida@exemplo...

In [3]:
def transformar_palavras_pcoluna(linha):
    if ("-" in linha) and (": " not in linha):
        partes = [p.strip() for p in linha.split(" - ")]
        resultado = {}
        if len(partes) == 3:
            resultado["Curso"] = partes[0]
            resultado["Email"] = partes[1]
            resultado["Nome"] = partes[2]
        return resultado
    else:
        separar = linha.split(" | ")
        resultado = {}
        for s in separar:
            if ": " in s:
                chave, valor = s.split(": ", 1)
                resultado[chave.strip()] = valor.strip()
        return resultado
        
df= pd.DataFrame(df["cadastro"].apply(transformar_palavras_pcoluna).to_list())

df

               Nome                         Email                Curso
0     Lucas Martins           lucas.m@exemplo.com        Eng. Mecânica
1    Bruna S. Lopes            brunal@exemplo.com       Design Gráfico
2     João Oliveira     joao.oliveira@exemplo.com               Letras
3  Carolina Almeida  carolina.almeida@exemplo.com  Engenharia Elétrica

In [4]:
df["Nome"]= df["Nome"].str.strip()
df["Email"]= df["Email"].str.strip()
df["Curso"]= df["Curso"].str.strip()

df

               Nome                         Email                Curso
0     Lucas Martins           lucas.m@exemplo.com        Eng. Mecânica
1    Bruna S. Lopes            brunal@exemplo.com       Design Gráfico
2     João Oliveira     joao.oliveira@exemplo.com               Letras
3  Carolina Almeida  carolina.almeida@exemplo.com  Engenharia Elétrica

In [5]:
df["Curso"] =df["Curso"].str.replace('Engenharia','Eng.', case=False)
df

               Nome                         Email           Curso
0     Lucas Martins           lucas.m@exemplo.com   Eng. Mecânica
1    Bruna S. Lopes            brunal@exemplo.com  Design Gráfico
2     João Oliveira     joao.oliveira@exemplo.com          Letras
3  Carolina Almeida  carolina.almeida@exemplo.com   Eng. Elétrica