In [1]:
import os

print(os.listdir("/kaggle/working"))

['__notebook__.ipynb']

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/kaggle/input/alunos-base1/alunos_base_1.csv')

In [4]:
df

              nome                        email
0       ana silva         ANA.SILVA@EXEMPLO.COM
1       joão Souza      joao.souza@exemplo.com
2   MARIA oliveira   maria.oliveira@exemplo.com
3  Carlos pereira    CARLOS.PEREIRA@EXEMPLO.com

Nomes em CamelCase

In [5]:
df["nome"] = df["nome"].str.title()

In [6]:
df

              nome                        email
0       Ana Silva         ANA.SILVA@EXEMPLO.COM
1       João Souza      joao.souza@exemplo.com
2   Maria Oliveira   maria.oliveira@exemplo.com
3  Carlos Pereira    CARLOS.PEREIRA@EXEMPLO.com

Email em minusculo

In [7]:
df["email"] = df["email"].str.lower()

In [8]:
df

              nome                        email
0       Ana Silva         ana.silva@exemplo.com
1       João Souza      joao.souza@exemplo.com
2   Maria Oliveira   maria.oliveira@exemplo.com
3  Carlos Pereira    carlos.pereira@exemplo.com

Verificar espaços vazios

In [9]:
df["VerificarTamanho"] = df['nome'].str.len()

In [10]:
df

              nome                        email  VerificarTamanho
0       Ana Silva         ana.silva@exemplo.com                12
1       João Souza      joao.souza@exemplo.com                 10
2   Maria Oliveira   maria.oliveira@exemplo.com                15
3  Carlos Pereira    carlos.pereira@exemplo.com                15

Tirando espaços se tiver

In [11]:
df["nome"] = df ["nome"].str.strip()

In [12]:
df["VerificarTamanho"] = df['nome'].str.len()
df

             nome                        email  VerificarTamanho
0       Ana Silva        ana.silva@exemplo.com                 9
1      João Souza      joao.souza@exemplo.com                 10
2  Maria Oliveira   maria.oliveira@exemplo.com                14
3  Carlos Pereira   carlos.pereira@exemplo.com                14

Como todos os @ são iguais, irei relirá-los

In [13]:
df["email"] = df["email"].str.replace("@exemplo.com","", case=False)
df

             nome            email  VerificarTamanho
0       Ana Silva        ana.silva                 9
1      João Souza      joao.souza                 10
2  Maria Oliveira   maria.oliveira                14
3  Carlos Pereira   carlos.pereira                14

Dropando coluna que verifica o tamanho, sem necessidade de tê-la

In [14]:
df = df.drop('VerificarTamanho', axis=1)
df

             nome            email
0       Ana Silva        ana.silva
1      João Souza      joao.souza
2  Maria Oliveira   maria.oliveira
3  Carlos Pereira   carlos.pereira