In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/alunos-base2/alunos_base_2.csv')
df.head()

                 nome_completo                     curso
0  Beatriz Ferreira de Almeida          Engenharia civil
1      Lucas Henrique da costa    ciência da computação
2               Fernanda Lima              ADMINISTRAÇÃO
3       Paulo Roberto da silva   arquitetura e urbanismo

Verificar caracteres

In [3]:
df["VefiricarTamanho"] = df['nome_completo'].str.len()
df.head()

                 nome_completo                     curso  VefiricarTamanho
0  Beatriz Ferreira de Almeida          Engenharia civil                27
1      Lucas Henrique da costa    ciência da computação                 23
2               Fernanda Lima              ADMINISTRAÇÃO                16
3       Paulo Roberto da silva   arquitetura e urbanismo                22

Remover sobra de caracteres e verificar novamente

In [4]:
df["nome_completo"] = df["nome_completo"].str.strip()
df["VerificarTamanho"] = df['nome_completo'].str.len()
df.head()

,nome_completo,curso,VefiricarTamanho,VerificarTamanho
0,Beatriz Ferreira de Almeida,Engenharia civil,27,27
1,Lucas Henrique da costa,ciência da computação,23,23
2,Fernanda Lima,ADMINISTRAÇÃO,16,13
3,Paulo Roberto da silva,arquitetura e urbanismo,22,22

In [5]:
df= df.drop('VefiricarTamanho', axis=1)
df= df.drop('VerificarTamanho', axis=1)
df.head()

                 nome_completo                     curso
0  Beatriz Ferreira de Almeida          Engenharia civil
1      Lucas Henrique da costa    ciência da computação
2                Fernanda Lima             ADMINISTRAÇÃO
3       Paulo Roberto da silva   arquitetura e urbanismo

In [6]:
df["curso"] = df["curso"].str.title()
df.head()

                 nome_completo                     curso
0  Beatriz Ferreira de Almeida          Engenharia Civil
1      Lucas Henrique da costa    Ciência Da Computação
2                Fernanda Lima             Administração
3       Paulo Roberto da silva   Arquitetura E Urbanismo

In [7]:
df["curso"] = df["curso"].str.strip()
print(df)

                 nome_completo                    curso
0  Beatriz Ferreira de Almeida         Engenharia Civil
1      Lucas Henrique da costa    Ciência Da Computação
2                Fernanda Lima            Administração
3       Paulo Roberto da silva  Arquitetura E Urbanismo

ordem alfabética

In [8]:
df = df.sort_values(by='nome_completo', key=lambda x: x.str.lower())
print(df)

                 nome_completo                    curso
0  Beatriz Ferreira de Almeida         Engenharia Civil
2                Fernanda Lima            Administração
1      Lucas Henrique da costa    Ciência Da Computação
3       Paulo Roberto da silva  Arquitetura E Urbanismo

In [9]:
df

                 nome_completo                    curso
0  Beatriz Ferreira de Almeida         Engenharia Civil
2                Fernanda Lima            Administração
1      Lucas Henrique da costa    Ciência Da Computação
3       Paulo Roberto da silva  Arquitetura E Urbanismo