In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/alunos-base3/alunos_base_3.csv')
df

                  nome                    email
0        maria f. lima   maria.lima@exemplo.com
1  maria fernanda lima  maria.lima2@exemplo.com
2       j. p. da silva    joaopaulo@exemplo.com
3  joão paulo da silva     jp.silva@exemplo.com

In [3]:
df["nome"] = df["nome"].str.title().str.strip()
df

                  nome                    email
0        Maria F. Lima   maria.lima@exemplo.com
1  Maria Fernanda Lima  maria.lima2@exemplo.com
2       J. P. Da Silva    joaopaulo@exemplo.com
3  João Paulo Da Silva     jp.silva@exemplo.com

In [4]:
temp = df.at[0, 'nome']
df.at[0, 'nome'] = df.at[1, 'nome']
df.at[1, 'nome'] = temp
df

                  nome                    email
0  Maria Fernanda Lima   maria.lima@exemplo.com
1        Maria F. Lima  maria.lima2@exemplo.com
2       J. P. Da Silva    joaopaulo@exemplo.com
3  João Paulo Da Silva     jp.silva@exemplo.com

In [5]:
temp = df.at[2, 'nome']
df.at[2, 'nome'] = df.at[3, 'nome']
df.at[3, 'nome'] = temp
df

                  nome                    email
0  Maria Fernanda Lima   maria.lima@exemplo.com
1        Maria F. Lima  maria.lima2@exemplo.com
2  João Paulo Da Silva    joaopaulo@exemplo.com
3       J. P. Da Silva     jp.silva@exemplo.com

In [6]:
df["email"] = df["email"].str.replace('@exemplo.com','',case=False).str.strip().str.lower()
df

                  nome        email
0  Maria Fernanda Lima   maria.lima
1        Maria F. Lima  maria.lima2
2  João Paulo Da Silva    joaopaulo
3       J. P. Da Silva     jp.silva

In [7]:
df.loc[df['nome'] == 'Maria F. Lima', 'nome'] = 'Maria Fernanda Lima'
df.loc[df['nome'] == 'J. P. Da Silva', 'nome'] = 'João Paulo Da Silva'
df

                  nome        email
0  Maria Fernanda Lima   maria.lima
1  Maria Fernanda Lima  maria.lima2
2  João Paulo Da Silva    joaopaulo
3  João Paulo Da Silva     jp.silva

In [8]:
df.insert(2, 'email_2', ['maria.lima2', None, 'jp.silva', None])

In [9]:
df

                  nome        email      email_2
0  Maria Fernanda Lima   maria.lima  maria.lima2
1  Maria Fernanda Lima  maria.lima2         None
2  João Paulo Da Silva    joaopaulo     jp.silva
3  João Paulo Da Silva     jp.silva         None

In [10]:
df= df.drop(1)
df= df.drop(3)

In [11]:
df

                  nome       email      email_2
0  Maria Fernanda Lima  maria.lima  maria.lima2
2  João Paulo Da Silva   joaopaulo     jp.silva